version: '3'

services:
  # systems
  proxy:
    container_name: proxy
    image: traefik
    networks:
      games:
        ipv4_address: 192.168.3.10
      systems:
        ipv4_address: 192.168.2.100
    ports:
      - target: 12000 # games/minecraft-java/game
        published: 12000
        protocol: tcp
        mode: host
      - target: 12001 # games/minecraft-java/rcon
        published: 12001
        protocol: tcp
        mode: host
      - target: 12010 # games/minecraft-java-test/game
        published: 12010
        protocol: tcp
        mode: host
      - target: 12011 # games/minecraft-java-test/rcon
        published: 12011
        protocol: tcp
        mode: host
    restart: unless-stopped
    volumes:
      - type: bind
        source: ./storage/proxy
        target: /etc/traefik

  # games
  minecraft-java:
    build:
      args:
        - MINECRAFT_VERSION_NUMBER=1.20.4
        - PAPER_BUILD_NUMBER=463
        - EULA=true
      context: ./images/minecraft-java
      dockerfile: Dockerfile
    container_name: minecraft-java
    environment:
      - MEMORY_MAX=4G
      - MEMORY_MIN=2G
    image: minecraft-java:1.20.4-paper.463
    networks:
      games:
        ipv4_address: 192.168.3.100
    restart: unless-stopped
    volumes:
      - type: bind
        source: ./storage/minecraft-java
        target: /minecraft

  minecraft-java-test:
    build:
      args:
        - MINECRAFT_VERSION_NUMBER=1.20.4
        - PAPER_BUILD_NUMBER=463
        - EULA=true
      context: ./images/minecraft-java
      dockerfile: Dockerfile
    container_name: minecraft-java-test
    environment:
      - MEMORY_MAX=8G
      - MEMORY_MIN=2G
    image: minecraft-java:1.20.4-paper.463
    networks:
      games:
        ipv4_address: 192.168.3.101
    restart: unless-stopped
    volumes:
      - type: bind
        source: ./storage/minecraft-java-test
        target: /minecraft

networks:
  games:
    ipam:
      config:
        - subnet: "192.168.3.0/24"
    name: games

  systems:
    ipam:
      config:
        - subnet: "192.168.2.0/24"
    name: systems
